.projects {
    margin-top: -6rem;
    user-select: none;
}

.header {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins';
    color: var(--text-color);
}

.header2 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    font-family: 'Poppins';
    color: var(--text-color);
}

.projectMotion {
    margin-top: 1rem;
    color: var(--text-color);
    font-size: 18px;
    max-width: 48rem;
    line-height: 30px;
    font-family: 'Segoe UI';
}

.projectsList {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    gap: 1.25rem;
}

.projectsListMotion {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 468px) {
    .header {
        font-size: 18px;
    }
    .header2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 648px) {
    .header2 {
        font-size: 60px;
    }
}

@media screen and (min-width: 1025px) {
    .projectsList {
        flex-direction: row;
    }
}

@media screen and (min-width: 1536px) {
    .projectsListMotion {
        max-width: 1280px;
    }
}
