.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoImg {
    width: 90px;
    height: 60px;
    object-fit: contain;
}

@media screen and (max-width: 480px) {
    .logoImg {
        width: 70px;
        height: 40px;
    }
}
