.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.ball {
    width: 7rem;
    height: 7rem;
}

.name {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    position: absolute;
    bottom: -20px;
    right: 10%;
    left: 10%;
}

.light {
    color: #332d2d;
}

.dark {
    color: #e0dfdf;
}
