.contact {
    margin-top: -8rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
}

.header {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins';
    color: #aeaeae;
    padding-top: 8rem;
}

.header2 {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    font-family: 'Poppins';
}

.contactMotion {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    padding: 2rem;
    border-radius: 24px;
}

.lightModeForm {
    background-color: #373737;
}

.darkModeForm {
    background-color: #3d3d3d;
}

.contactForm {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-family: 'Poppins';
}

.formLabel {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.formLabelText {
    font-weight: 500;
    margin-bottom: 1rem;
}

.formInput {
    padding: 1rem 1.25rem;
    border-radius: 8px;
    font-size: inherit;
    outline: none;
    border: none;
    font-weight: 500;
    font-family: 'Poppins';
}

.formInput::placeholder {
    opacity: 0.55;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Beckman';
    align-items: center;
    padding: 1.2rem 0;
    white-space: nowrap;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    transition: ease-in-out;
    transition-duration: 0.2s;
    margin-top: 16px;
    color: #3f3f3f;
}

.btn:hover {
    background-color: #a3c99f;
}

.submitted {
    background-color: #c2c1bd;
    border: 3px solid green;
    color: white;
    cursor: none;
}

.submitted:hover {
    background-color: #c2c1bd !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.error {
    margin-top: 12px;
    color: rgb(197, 55, 55);
}

@media screen and (min-width: 420px) {
    .header {
        padding-top: 2rem;
    }
}

@media screen and (min-width: 640px) {
    .header,
    .header2 {
        padding-top: 0;
    }

    .btn {
        gap: 1rem;
        font-size: 20px;
        width: 170px;
        height: 50px;
    }
}
@media screen and (min-width: 468px) {
    .header {
        font-size: 18px;
    }
    .header2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 648px) {
    .header2 {
        font-size: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .contact {
        flex-direction: row;
    }
}
