.navbarItem {
    cursor: pointer;
    user-select: none;
}

.isSelected {
    --tw-text-opacity: 1;
    color: rgb(140 140 140 / var(--tw-text-opacity));
}

.lightHover:hover {
    --tw-text-opacity: 1;
    color: rgb(140 140 140 / var(--tw-text-opacity));
}

.darkHover:hover {
    --tw-text-opacity: 1;
    color: rgb(140 140 140 / var(--tw-text-opacity));
}

.underlineAnimation {
    display: inline-block;
    position: relative;
}

.underlineAnimation::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    right: 5px;
    --tw-text-opacity: 1;
    background-color: rgb(181 181 181 / var(--tw-text-opacity));
    transform-origin: center;
    transition: transform 0.5s ease-out;
}

.underlineAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
