.navbar {
    padding: 0.5rem 1.5rem;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
}

.navbarContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 480px) {
    .navbar {
        opacity: 0.97;
    }
}
