/* 
xs: '450px',
sm: '640px',
md: '768px',
xmd: '900px',
lg: '1025px',
xl: '1280px',
'2xl': '1536px',
'3xl': '1800px', */
.navbar {
    padding: 0.5rem 1.5rem;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
}

.navbarContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoImg {
    width: 90px;
    height: 60px;
    object-fit: contain;
}

.navLinks {
    list-style-type: none;
    display: none;
    flex-direction: row;
    gap: 2.35rem;
    padding-top: 8px;
    align-items: center;
}

.navLink a {
    font-size: 21px;
    font-weight: 500;
    font-family: 'Mova';
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    color: #9999a1;
}

.navLinkActive {
    color: #aaaaab;
}

.navLinkInactive {
    color: var(--text-color);
}

li:nth-last-child(1) {
    margin-right: 36px;
    margin-bottom: 14px;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--text-color);
    margin: 5px auto 0px auto;
    transition: 0.5s;
}

.link:hover::after {
    width: 70%;
}

.mobile {
    display: flex;
    flex: 1 1 0%;
    width: 100vw;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    user-select: none;
    gap: 10px;
    margin-right: 36px;
}

@media screen and (min-width: 480px) {
    .navbar {
        opacity: 0.97;
    }
}
@media screen and (min-width: 640px) {
    .mobile {
        display: none;
    }

    .navLinks {
        display: flex;
        gap: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .navLinks {
        gap: 3.5rem;
    }

    .buttons {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .navLinks {
        gap: 4.5rem;
        font-size: 19px;
    }
}

@media screen and (min-width: 1280px) {
    .navLinks {
        gap: 5.5rem;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
