.links {
    display: none;
}

@media screen and (min-width: 768px) {
    .links {
        font-family: 'Mova';
        font-size: 21px;
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        align-items: center;
        margin-left: auto;
        letter-spacing: 3px;
        font-weight: 400;
        color: var(--text-color);
        overflow: hidden;
        padding-right: 20px;
    }

    li {
        padding-left: 3.5rem;
    }

    li:last-child {
        padding-left: 1.5rem;
        margin-bottom: 5px;
    }
}
