.introduction {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 40px;
    margin-top: 0.5rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
    user-select: none;
}

.animatedIntro {
    display: flex;
    flex-direction: row;
}

.gap {
    padding-left: 6px;
}

.name {
    font-family: 'Mova';
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    user-select: none;
}

.heroSubText {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.5rem;
    font-family: 'Segoe UI Semibold';
    user-select: none;
}

@media screen and (min-width: 320px) {
    .introduction {
        font-size: 50px;
    }

    .heroSubText {
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) {
    .introduction {
        font-size: 60px;
    }

    .name {
        font-size: 90px;
    }

    .heroSubText {
        font-size: 24px;
    }
}

@media screen and (min-width: 640px) {
    .heroSubText {
        font-size: 26px;
    }
}

@media screen and (min-width: 1024px) {
    .introduction {
        font-size: 80px;
        line-height: 90px;
    }

    .heroSubText {
        font-size: 30px;
        line-height: 40px;
    }
}
