.mobileMenu {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    user-select: none;
}

.mobileMenuOpen {
    right: 0;
    transition: 1s;
}

.mobileMenuClose {
    right: 0;
}

/* display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 10;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    user-select: none; */

.mobileMenu.active {
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.mobileMenu li {
    margin-bottom: 50px;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
}
li:nth-last-child(1) {
    margin-left: 15px;
}
li:nth-last-child(2) {
    margin-left: 15px;
}

li:nth-last-child(3) {
    margin-left: 15px;
}

.btn {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 50%;
}

.fitContent {
    width: fit-content;
}

.lightHover:hover {
    background-color: rgb(248, 247, 247);
}

.darkHover:hover {
    background-color: rgb(50, 47, 47);
}

@media screen and (min-width: 480px) {
    .mobileMenu {
        padding: 0px 0px 0px 40px;
    }

    .btn {
        top: 20px;
        right: 70px;
    }
}

@media screen and (min-width: 640px) {
    .mobileMenu {
        display: none;
    }
}
