.cvButton {
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'Mova';
    text-wrap: nowrap;
    padding: 0 0.5rem;
}

.cvButton:active {
    border: 4px solid green;
}

.cvButtonLightMode {
    background-color: #948c8c;
    color: #ffffff;
}

.cvButtonDarkMode {
    background-color: #252222;
    color: #e5e2e2;
}

.widthClicked {
    border: 4px solid green;
    width: 220px;
}

.widthNotClicked {
    width: 220px;
}

.links {
    text-decoration: none;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.75;
}

.disabledDark {
    opacity: 0.65;
    pointer-events: none;
    cursor: not-allowed;
}

@media screen and (min-width: 320px) {
    .cvButton {
        height: 40px;
        border-radius: 25px;
        font-size: 14px;
        font-family: 'Mova';
        text-wrap: nowrap;
        padding: 0 0.5rem;
    }
    .widthClicked {
        width: 270px;
    }

    .widthNotClicked {
        width: 270px;
    }
}

@media screen and (min-width: 370px) {
    .cvButton {
        height: 40px;
        border-radius: 25px;
        font-size: 14px;
        font-family: 'Mova';
        text-wrap: nowrap;
        padding: 0 0.5rem;
        max-width: 180px;
    }
    .widthClicked {
        width: 310px;
    }

    .widthNotClicked {
        width: 290px;
    }

    .links {
        padding: 0 20px;
    }
}

@media screen and (min-width: 500px) {
    .cvButton {
        height: 50px;
        border-radius: 25px;
        font-size: 22px;
        font-family: 'Mova';
        max-width: 280px;
    }
}
