.experience {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins';
    color: var(--text-color);
    padding-left: 2rem;
}

.header2 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    font-family: 'Poppins';
    color: var(--text-color);
}

.customLine:before {
    background: #7d7d7d !important;
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-custom-line
    .vertical-timeline-element--work
    .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #1976d2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline.vertical-timeline-custom-line
    .vertical-timeline-element--education
    .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #c2185b, inset 0 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 640px) {
    .header,
    .header2 {
        padding-left: 4rem;
    }
}
@media screen and (min-width: 468px) {
    .header {
        font-size: 18px;
    }
    .header2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 648px) {
    .header2 {
        font-size: 60px;
    }
}
