@font-face {
    font-family: 'Mova';
    src: url('../src/assets/fonts/Mova.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../src/assets/fonts/SegoeUi.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.dark {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #ffffff;
    --button-text-color: #000000;
}

.light {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-bg-color: #000000;
    --button-text-color: #ffffff;
}

main,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
    padding: 0;
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative;
    z-index: 0;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        padding: 1.5rem;
    }
}

@media (min-width: 638px) {
    .container {
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 3rem;
    }
}
